<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .mainContainer{
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(205,218,237);
        }
        .file-uploadDiv{
            background-color: rgb(255,255,255);
            height: 50%;
            width: 40%;
            border-radius: 8px;
        }
         </style>  
</head>
<body>
   



    <div class="mainContainer">
        <div class="file-uploadDiv">
            <div>
                <h3>file upload</h3>
                <input id="inputFileToLoad" type="file" onchange="encodeImageFileAsURL();" />
              <div id="imgTest"></div>

              <form action="/image" method="post">
                <input name="image" type="text" id="inputType">
                <button>sub</button>
            </form>
            </div>
        </div>
    </div>


    <script>
        var img = document.getElementById('img')
        img.crossOrigin = 'Anonymous'
        img.onload = function(){
            var canvas = document.createElement('canvas')
            var ctx = canvas.getContext('2d')
            canvas.height = this.naturalHeight
            canvas.width = this.naturalWidth
            ctx.drawImage (this,0,0);
            var data = canvas.toDataURL('image/jpeg')
            document.getElementById('result').value = data
        }
    </script>

<script type='text/javascript'>
    function encodeImageFileAsURL() {
  
      var filesSelected = document.getElementById("inputFileToLoad").files;
      if (filesSelected.length > 0) {
        var fileToLoad = filesSelected[0];
  
        var fileReader = new FileReader();
  
        fileReader.onload = function(fileLoadedEvent) {
          var srcData = fileLoadedEvent.target.result;
  
          var newImage = document.createElement('img');
          newImage.src = srcData;
  
          document.getElementById("imgTest").innerHTML = newImage.outerHTML;
          alert("Converted Base64 version is " + document.getElementById("imgTest").innerHTML);
          console.log("Converted Base64 version is " + document.getElementById("imgTest").innerHTML);
          document.getElementById('inputType').value = srcData
        }
        fileReader.readAsDataURL(fileToLoad);
      }
    }
  </script>
</body>
</html>




